:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
}


body.backgrounds{
    

}



body{
    background: var(--preto);
    font-family: Arial;
    ;
}

header .container{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: stretch;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.100));
    
}

header .container2{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: unset;
    margin-top: 10px; 
    
}

/* Imagem logo Netflix */

header .logo img{
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 45px;
    height: 28px;
    width: 100px;
    size: 800px;
    cursor: pointer;

}

header nav i{
    margin-left: 0px;  
    margin-right: 0px;
}

header nav a{
    text-decoration: none;
    color: #dfdfdf;
    margin-right: 10px;
    font-size: 15px;
}

header nav a:hover{
    color: #ffffff;
}


.filme-principal{
    display: flex;
    font-size: 20px;
    
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 52px;    
        
}

.filme-principal .botao1{
    
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border: none;

    padding: 15px 45px;
    border-radius: 5px;

    cursor: pointer;
    transition: .3s ease all;
    margin-right: 10px;
    margin-bottom: 0px;
    
}


.botao1:hover{
    background-color:  rgba(255, 255, 255, 0.658);
    color:black;

}

.botao1 i{
    margin-right: 15px;
}

.filme-principal .botao2{
    font-size: 25px;
    background-color: rgba(122, 121, 121, 0.486);
    border: none;
    color: white;
    margin-left:0px;
    border-radius: 4px;

    cursor: pointer;
    transition: .3s ease all;
    
/* Padding trabalha com os valores internos da caixa */
    padding: 15px 40px;
    
}
 

.botao2:hover{
    background-color: rgba(100, 100, 100, 0.37);
    color: white;
}

.botao2 i{
    margin-right: 15px;
} 

.carrossel-filmes{
    margin-top: 5px;
    height: 100%;
    width: 100%;
    display: block;

}

.topo{
    height: 880px;
    background-image: url(/imagens/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;    
  
}

.botao1{
    
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border: none;

    padding: 15px 45px;
    border-radius: 5px;

    cursor: pointer;
    transition: .3s ease all;
    margin-right: 10px;        
    margin-left: 50px;
    
}

.botao2{
    font-size: 25px;
    background-color: rgba(122, 121, 121, 0.486);
    border: none;
    color: white;    
    border-radius: 4px;
    margin-top: 600px ;
    cursor: pointer;
    transition: .3s ease all;
    
/* Padding trabalha com os valores internos da caixa */
    padding: 15px 40px;
}

